.innerWidth {
  width: 100%;
}

.paddings {
  padding: 20px 5%;
}

.flexCol {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexColCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexColStart {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flexColEnd {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media (max-width: 375px) {
  .innerWidth {
    width: 100%;
  }
}
